version: '3.8'
services:
  fastapi-app:
    build: .
    network_mode: host
    volumes:
      - .:/app
    environment:
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
      - OLLAMA_HOST=localhost
